code {
  padding: 0;
  font-size: 0.8rem;
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
}

blockquote {
  margin-left: 0.5em;
}

.title {
  margin-bottom: 0;
}

.date {
  font-size: 0.75rem;
}

.content {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95em;
}

.content > h3 {
  margin-top: 0.75rem;
  font-weight: 600;
}

.content a {
  text-decoration: underline;
}

.content li > p {
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid rgba(15, 15, 15, 0.4);
  margin-top: 1.5em;
  padding: 1em 0.25em;
}

.footerPageLink {
  max-width: 50%;
  text-align: center;
}
