.header {
  display: inline-block;
  padding: 0 4px;
  cursor: default;
}

.headerLarge {
  font-size: 3em;
  /** Uses secondary colour. **/
  text-shadow: 0.5px 0.5px 1px rgb(216, 95, 79);
}

.headerUnderline {
  border-bottom: 1px solid #828282;
}

.link {
  color: rgb(33, 32, 40) !important;
}

.link:hover {
  color: rgb(96, 94, 110) !important;
}

@media (max-width: 576px) {
  .header:not(.headerLarge) {
    font-size: 1.2rem;
  }
}
