.header {
  display: inline-block;
  padding: 0 4px;
  line-height: 0.9em;
  cursor: default;
}

.headerUnderline {
  border-bottom: 1px solid #828282;
}

.link {
  color: rgb(33, 32, 40) !important;
}

.link:hover {
  color: rgb(96, 94, 110) !important;
}

@media (max-width: 576px) {
  .header {
    font-size: 1.2rem;
  }
}
