.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  margin: 0.5rem;
  transition: top ease 1s;
}

.card:hover {
  top: -1px;
}

@media all and (min-width: 400px) {
  .card {
    width: 75%;
  }
}

@media all and (min-width: 500px) {
  .card {
    width: 45%;
  }
}

.shortDescription {
  margin: 0.35rem 0;
  font-size: 0.9rem;
  height: 2rem;
}

.techStack {
  font-size: 0.8rem;
  font-style: italic;
}

.links {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
}

.link {
  margin: 0 0.5rem;
}
