---
import HandsLayout from '../../microsites/hands/layouts/HandsLayout.astro';
---

<HandsLayout title="Not Found - USE YOUR DAMN HANDS">
  <header>
    <h1>404</h1>
    <p class="subtitle">This page doesn't exist. But your hands do.</p>
  </header>
</HandsLayout>
