.preview {
  height: 225px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem 1rem 1rem;
  margin: 1rem 0;
}

.previewTitle {
  margin: 0;
}

.previewDate {
  font-size: 0.75rem;
  margin-bottom: 0;
}

.previewExcerpt {
  font-family: 'Merriweather', 'Georgia', serif;
  margin: 0;
}
