---
import BlogLayout from '../../layouts/BlogLayout.astro';
import { getCollection } from 'astro:content';
import { formatDate } from '../../utils/formatDate';

const allPosts = await getCollection('blog', ({ data }) => !data.archived && !data.draft);
const posts = allPosts.toSorted((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<BlogLayout title="colin tinney - blog" description="A personal blog">
  <div>
    {
      posts.map((post) => (
        <div class="preview">
          <h1 class="preview-title">
            <a href={post.data.path}>{post.data.title}</a>
          </h1>
          <div class="preview-date">
            <svg
              aria-hidden="true"
              viewBox="0 0 448 512"
              width="14"
              height="14"
              style="margin: -1px 0.5em 0 0; vertical-align: middle;"
            >
              <path
                fill="currentColor"
                d="M400 64h-48V12c0-6.6-5.4-12-12-12h-8c-6.6 0-12 5.4-12 12v52H128V12c0-6.6-5.4-12-12-12h-8c-6.6 0-12 5.4-12 12v52H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM48 96h352c8.8 0 16 7.2 16 16v48H32v-48c0-8.8 7.2-16 16-16zm352 384H48c-8.8 0-16-7.2-16-16V192h384v272c0 8.8-7.2 16-16 16z"
              />
            </svg>
            <span>{formatDate(post.data.date)}</span>
          </div>
          <div class="preview-excerpt">{post.data.excerpt}</div>
        </div>
      ))
    }
  </div>
</BlogLayout>

<style>
  .preview {
    margin-bottom: 1.5rem;
  }

  .preview-title {
    margin-bottom: 0.25rem;
  }

  .preview-title a {
    color: var(--color-secondary);
  }

  .preview-title a:hover {
    color: var(--color-secondary-hover);
  }

  .preview-date {
    font-size: 0.8rem;
    color: var(--color-text-secondary);
    margin-bottom: 0.5rem;
  }

  .preview-excerpt {
    font-size: 0.95rem;
    line-height: 1.4;
  }
</style>
