.card {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  padding: 1rem;
}

.name {
  cursor: default;
}

.shortDescription {
  margin: 0.35rem 0;
  font-size: 0.9rem;
}

.techStack {
  font-size: 0.8rem;
  font-style: italic;
}

.links {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
}

.link {
  margin: 0 0.5rem;
}
