---
import WhatLayout from '../../microsites/whatarewedoinghere/layouts/WhatLayout.astro';
---

<WhatLayout title="Not Found">
  <main>
    <h1>404</h1>
    <p>Page not found.</p>
  </main>
</WhatLayout>
