---
import WhatLayout from '../../microsites/whatarewedoinghere/layouts/WhatLayout.astro';
---

<WhatLayout>
  <main>
    <h1>What Are We Doing Here</h1>
    <p>Coming soon.</p>
  </main>
</WhatLayout>
