* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $base-font-family;
  margin: 0;
}

h1, h2 {
  display: block;
  font-weight: bold; 
}

h1 {  
  margin: 0.5em 0;
  font-size: 2em;
}

h3 {
  font-size: 1.33em;
}

p {
  margin: 1em 0;
}
