/**
 * Common classes, to be extended only.
 */

%max-height-flex-column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

%content-column {
  width: 34em;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Layout classes.
 */

.default-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100%;
}

/**
 * Page classes.
 */

.home {
  @extend %max-height-flex-column;
  justify-content: center;
}

.page {
  @extend %max-height-flex-column;  
}

.page__header {
  display: flex;
  align-items: baseline;
  padding: 0 5%;
  border-bottom: 1px solid $grey-color;
}

.page__header__separator {
  margin: 0 10px;
}

.albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .albums__album {
    flex: 1 0 200px; /** Can grow, can't shrink, min width 300px. */
    max-width: 400px;
    margin: 7px;
    .albums__album__img {
      width: 100%;
      height: auto;
    }
  }
}

/** Make the albums smaller on mobile. */
@media screen and (max-width: 400px) {
  .albums__album {
    flex-basis: 150px;
    margin: 4px;
  }
}

/**
 * Includes classes.
 */

.about-header {
  @extend %content-column;
  text-align: center;
}

.brand {
  display: inline-flex;
  padding: 0 4px;
  line-height: 0.9em;
  border-bottom: 1px solid $grey-color;
  cursor: default;

  &:hover {
    border-bottom-color: $brand-color;
  }
}

.brand__link {
  color: #000;
}

.contact-card {
  @extend %content-column;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.contact-card__icon-container {
  text-align: center;
}

.contact-card__icon-container__icon {
  color: #333333;
  text-decoration: none;

  &:hover {
    color: $brand-color;
  }

  &:not(:last-child) {
    margin-right: 40px;
  }

  /**
   * FontAwesome icons use an <i> element.
   */
  i {
    line-height: 1;
  }
}

.contact-card__email {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5em;
  line-height: 1;
}

.contact-card__email__icon {
  margin: 0 6px;
}

.contact-card__email__mail-to {
  color: $grey-color--dark;

  &:hover {
    color: $brand-color;
  }
}

.page-links {
  @extend %content-column;
  display: flex;
  justify-content: center;
}

.page-links__link {
  padding: 4px;
  color: $grey-color--dark;
  border: 1px solid $grey-color;

  &:hover {
    border-color: $brand-color;
  }
}

.footer {
  padding: 4px;
  color: $grey-color--dark;
  font-size: 0.7em;
  text-align: center;
}
