/**
 * Common classes, to be extended only.
 */

%max-height-flex-column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

%content-column {
  width: 34em;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Layout classes.
 */

.default-content {
  flex: 1;
  justify-content: center;
  align-items: center;

}

/**
 * Page classes.
 */

.home {
  @extend %max-height-flex-column;
  justify-content: center;
}

.page {
  @extend %max-height-flex-column;

  .page-links {
    margin-top: auto;
    margin-bottom: 0.5em;
  }
}

.page__header {
  display: flex;
  align-items: baseline;
  padding: 0 5%;
  border-bottom: 1px solid $grey-color;
}

.page__header__separator {
  margin: 0 10px;
}

.albums-wrapper {
  height: 100%;
  overflow-y: auto
}

.albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .albums__album {
    flex: 1 0 200px; /** Can grow, can't shrink, min width 300px. */
    max-width: 400px;
    margin: 7px;
    .albums__album__img {
      width: 100%;
      height: auto;
    }
  }
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/** Make the albums smaller on mobile. */
@media screen and (max-width: 400px) {
  .albums__album {
    flex-basis: 150px;
    margin: 4px;
  }
}

.faq {
  padding: 5%;
}

.spotify-wrapper {
  height: 100%;
  overflow-y: auto
}

.spotify {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.spotify__playlist {
  margin: 10px;
  box-shadow: $box-shadow--lg;
}

.spotify__playlist__name {
  padding: 4px 0 4px 4px;
}

.spotify__playlist__name__link {
  color: $grey-color--dark;
  text-decoration: none;

  &:hover {
    color: $brand-color;
    text-decoration: underline;
  }
}

.spotify__playlist__embed {
  position: relative;
  width: 300px;
  height: 380px;
}

.spotify__playlist__iframe {
  position: relative;
  z-index: 2;
}

.spotify__playlist__loader {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 25px 2px $brand-color;

  // Animate it!
  animation: spin 1s linear infinite;

  // Make sure it's hidden under the Spotify embed.
  z-index: 1;
}

@keyframes spin {
  from { transform: translate(-50%, -50%) rotate(0deg);   opacity: 0.2; }
  50%  { transform: translate(-50%, -50%) rotate(180deg); opacity: 1.0; }
  to   { transform: translate(-50%, -50%) rotate(360deg); opacity: 0.2; }
}

/**
 * Includes classes.
 */

.about-header {
  @extend %content-column;
  text-align: center;
}

.brand {
  display: inline-block;
  padding: 0 4px;
  line-height: 0.9em;
  border-bottom: 1px solid $grey-color;
  cursor: default;

  &:hover {
    border-bottom-color: $brand-color;
  }
}

.brand__link {
  color: #000;
}

.contact-card {
  @extend %content-column;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.contact-card__icon-container,
.contact-card--sm__icon-container {
  text-align: center;
}

.contact-card__icon-container__icon {

  &:not(:last-child) {
    margin-right: 40px;
  }

}

.contact-card__icon-container__icon,
.contact-card--sm__icon-container__icon {
  color: #333333;
  text-decoration: none;

  &:hover {
    color: $brand-color;
  }

  /**
   * Reset line-height of FontAwesome icons to prevent
   * inline overflow issues.
   */
  i {
    line-height: 1;
  }
}

.contact-card--sm__icon-container__icon {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.contact-card__email, .contact-card__resume {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5em;
  line-height: 1;
}

.contact-card--sm {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-card--sm__email {
  margin-left: 1em;
}

.contact-card__email__icon,
.contact-card--sm__email__icon {
  margin: 0 6px;
}

.contact-card__email__mail-to, 
.contact-card--sm__email__mail-to,
.contact-card__resume__link,  {
  color: $grey-color--dark;

  &:hover {
    color: $brand-color;
  }
}

.page-links {
  @extend %content-column;
  display: flex;
  justify-content: center;
}

.page-links__link {
  width: 100px;
  margin: 0 8px;
  padding: 4px;
  text-align: center;
  color: $grey-color--dark;
  border: 1px solid $grey-color;
  border-radius: 3px;
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;

  &:hover {
    border-color: $brand-color;
    color: lighten($grey-color--dark, 25%);
  }
}

.footer {
  padding: 4px;
  color: $grey-color--dark;
  font-size: 0.7em;
  text-align: center;
}
