$base-font-family: 'Lato', Helvetica, Arial, sans-serif !default;

$brand-color: #35B4DE;
$grey-color: #828282;
$grey-color--dark:  darken($grey-color, 25%) !default;

$box-shadow: 2px 2px 1px 0px rgba(161,161,161,0.25);

@import 'includes/reset';
@import 'theme/base';
@import 'theme/layout';
