* {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

h1, h2 {
  display: block;
  font-weight: bold; 
}

h1 {  
  margin: 0.5em 0;
  font-size: 2em;
}

h3 {
  font-size: 1.33em;
}

p {
  margin: 1em 0;
  line-height: 1.25em;
}

a {
  text-decoration: none;
}
