.container {
  width: 34em;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;

  justify-content: center;
}

.brand {
  margin-bottom: 0;
}

.contactCard {
  padding-top: 1rem;
  border-top: 1px solid rgba(15, 15, 15, 0.4);
}
