.title {
  margin-bottom: 0;
}

.date {
  font-size: 0.75rem;
}

.content {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95em;
}

.content > h3 {
  margin-top: 0.75rem;
  font-weight: 600;
}

.content a {
  text-decoration: underline;
}

.content li > p {
  margin: 0;
}

code {
  padding: 0;
  font-size: 0.8rem;
}

blockquote {
  margin-left: 0.5em;
}
