.header {
  display: flex;
  min-height: 50px;
  line-height: 50px;
  align-items: baseline;
  border-bottom: 1px solid rgba(15, 15, 15, 0.4);
}

.brand {
  white-space: nowrap;
  margin: 0;
}

.separator, .title {
  padding-bottom: 2px;
  align-self: flex-end;
}

.separator {
  margin: 0 10px;
}

.title {
  word-break: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.titleLink {
  color: #000;
}

.mobileMenu, .desktopMenu {
  margin-left: auto;
  padding: 1px 0;
}

.desktopMenuItem {
  font-size: 1.1em;
  margin: 0 0.5em;
}

.mobileMenu {
  display: none;
  z-index: 100;
}

.popoverMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100vw;
  padding: 0.5em;
  font-size: 1.4rem;
  background-color: white;
  box-shadow: 3px 3px 6px rgba(15, 15, 15, 0.5);
}

.popoverMenuItem {
  padding: 0.5em;
}

@media (max-width: 576px) {
  .header {
    padding: 0.4em 0;
    min-height: 35px;
    line-height: 35px;
    align-items: center;
  }

  .separator {
    margin: 0 4px;
  }

  .title {
    font-size: 1em;
    padding-top: 2px;
  }

  .desktopMenu {
    display: none;
  }

  .mobileMenu {
    display: initial;
  }

  .menuIconContainer {
    align-self: center;
  }
}
