.header {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid rgba(15, 15, 15, 0.4);
}

.brandContainer {
  white-space: nowrap;
}

.titleContainer {
  display: flex;
  align-items: baseline;
}

.separator {
  margin: 0 10px;
}

.title {
  cursor: pointer;
  word-break: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.33em;
}

.titleLink {
  color: #000;
}

.menuIconContainer {
  margin-left: auto;
  padding: 1px 0;
}

.popoverMenu {
  min-width: 150px;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: white;
  box-shadow: 3px 3px 6px rgba(15, 15, 15, 0.5);
}

.popoverMenuItem {
  padding: 0.5em;
}

@media (max-width: 576px) {
  .header {
    padding: 0.25em 0;
  }

  .menuIconContainer {
    align-self: center;
  }
}
