.anchorButton {
  position: relative;
  width: 100px;
  margin: 0 0.5rem;
  padding: 6px;
  transition: top ease 1s;
}

.anchorButton:hover {
  top: -1px;
}

.primary {
  border: 1px solid rgb(11, 90, 158);
}

.primary:hover {
  border-color: rgba(11, 90, 158, 0.65);
}

.secondary {
  border: 1px solid rgb(168, 45, 28);
}

.secondary:hover {
  border-color: rgba(168, 45, 28, 0.65);
}
