---
import PageLayout from '../layouts/PageLayout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import projectsData from '../data/projects.json';
import { site } from '../data/site';

const projects = projectsData.projects;
---

<PageLayout
  title={`${site.title} - projects`}
  description="Personal projects."
  headerTitle="projects"
>
  <section class="projects">
    {projects.map((project, i) => <ProjectCard {...project} index={i} />)}
  </section>
</PageLayout>

<style>
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: content-box;
    padding: 1rem 0;
  }
</style>
