---
import PageLayout from '../layouts/PageLayout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import projectsData from '../data/projects.json';
import { site } from '../data/site';

const projects = projectsData.projects;
---

<PageLayout
  title={`${site.title} - projects`}
  description="Personal projects."
  headerTitle="projects"
>
  <section class="projects">
    {projects.map((project, i) => <ProjectCard {...project} index={i} />)}
  </section>
</PageLayout>

<style>
  .projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-sm);
    padding: var(--space-md) 0;
  }

  @media (width >= 500px) {
    .projects {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (width >= 768px) {
    .projects {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
