.container {
  /** TODO Refactor to component */
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  align-items: baseline;
  padding: 0 5%;
  border-bottom: 1px solid #828282;
}

.separator {
  margin: 0 10px;
}
