.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: content-box;
  padding: 1rem 0;
}

.projectsNote {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
