.container {
  /** TODO Refactor to component */
  width: 34em;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.icon {
  margin: 0 6px;
}

.container__social {
  margin-bottom: 1.25em;
}

.container__email {
  margin-bottom: 1.25em;
}
