.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  /** TODO Refactor to component */
  width: 34em;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  margin: 0 6px;
}

.email__icon {
  vertical-align: text-bottom;
}

.container__social, .container__email {
  color: #424242 !important;
  margin-bottom: 1em;
}

.container__resume {
  width: 80px;
  padding: 6px;
}

.container__social a, .container__email a {
  color: rgba(66, 66, 66);
}

.container__social a:hover, .container__email a:hover {
  color: rgba(66, 66, 66, 0.7);
}
