---
import PageLayout from './PageLayout.astro';

interface Props {
  title?: string;
  description?: string;
  ogType?: string;
}

const { title, description, ogType } = Astro.props;
---

<PageLayout title={title} description={description} headerTitle="blog" ogType={ogType}>
  <div class="blog-content">
    <slot />
  </div>
</PageLayout>

<style>
  .blog-content {
    padding: 0 var(--space-md);
    min-width: 40vw;
    max-width: 100%;
  }
</style>
